 <html>
    <head>
        <title>Cisco Spark Integration (OAuth flow)</title>
        <link rel=stylesheet type=text/css >
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>OAuth Integration example for Cisco Spark (static HTML)</h1>
            </div>
            <div id="content">
                <form>
                  <input type=button onClick="self.open('https://api.ciscospark.com/v1/authorize?client_id=Ce247beedaebc2020bcd8ca3c5fb3e1682cdd9dc2f74481a5d0dc1d02c91b6672&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Foauth&scope=spark%3Apeople_read&state=CiscoDevNet')" value='Start OAuth flow' >
                </form>
            </div>
        </div>
    </body>
</html>
